<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home EJS</title>
</head>

<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit qui eaque praesentium, possimus eligendi
        corrupti, earum harum recusandae officia beatae quaerat culpa itaque? Odio amet, doloremque placeat perferendis
        in quos?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit qui eaque praesentium, possimus eligendi
        corrupti, earum harum recusandae officia beatae quaerat culpa itaque? Odio amet, doloremque placeat perferendis
        in quos?</p>
</body>

</html>